<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro</h1>

    <form id="formCadastrar">
        <label for="">Nome</label><br>
        <input type="text" name="nome" id="nome"><br>
        <label for="">Usuario</label><br>
        <input type="text" name="usuario" id="usuario"><br>
        <label for="">Senha</label><br>
        <input type="password" name="senha" id="senha"><br>
        <button type="submit"> Cadastrar </button>
    </form>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $('#formCadastrar').submit(function (event) {
            event.preventDefault()

            var user = {
                nome: $('#nome').val(),
                usuario: $('#usuario').val(),
                senha: $('#senha').val()
            }

            var bodyRec = JSON.stringify(user);

            $.ajax({
                url: '/api/cadastro',
                type: 'post',
                data: bodyRec,
                contentType: 'application/json',
            }).done((data) => {
                console.log(data);

                if (data.created) {
                    alert('Usuario criado com sucesso')
                }
            }).fail( (error) => {
                alert('erro ao cadastrar')
                console.log(error);
                //alert(error.errors[0].message)
            })
        })

    </script>
</body>
</html>