<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('Partes/header'); -%>
</head>
<body>
    <h1>LOGIN</h1>

    <form id="formLogin">
        <label for="">Usuario</label><br>
        <input type="text" name="usuario" id="usuario"><br>
        <label for="">Senha</label><br>
        <input type="password" name="senha" id="senha"><br>
        <button type="submit"> Entrar </button>
    </form>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $('#formLogin').submit(function (event) {
            event.preventDefault()

            var user = {
                usuario: $('#usuario').val(),
                senha: $('#senha').val()
            }

            var bodyRec = JSON.stringify(user);

            $.ajax({
                url: '/api/login',
                type: 'post',
                data: bodyRec,
                contentType: 'application/json',
            }).done((data) => {
                console.log(data);
            }).fail( (error) => {
                console.log(error);
                alert(error.responseJSON.error);
            })
        })

    </script>
</body>
</html>